@model Exercise.Models.IndexViewModel

@{
    ViewData["Title"] = "Mars Rover Sample API";
}

<div class="text-center">
    <h1 class="display-4">Mars Rover Sample API</h1>

    @if (Model.photos != null)
    {
        <div class="row">

            @foreach (var photo in Model.photos)
            {
                <div class="column">
                    <img src="@photo.img_src" style="width: 50%;" />
                    <div style="overlay">"@photo.earth_date"</div>
                </div>
            }

        </div>
    }
    else
    {
        <h2 class="display-2">ROVER is currently busy...</h2>
    }
</div>

<style>
    .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        transition: .5s ease;
        opacity: 1;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }

    .column {
        float: left;
        width: 30%;
        padding: 5px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
